<h2 mat-dialog-title>{{ data?.title }} Vehicle</h2>
<mat-dialog-content>
  <form action="" [formGroup]="form">
    <mat-form-field appearance="fill">
      <mat-label>Car Suggestions</mat-label>
      <input
        type="text"
        matInput
        [formControl]="carSuggestion"
        [matAutocomplete]="auto"
      />

      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option
          *ngFor="let suggestion of filteredOptions | async"
          [value]="suggestion"
        >
          {{ suggestion.text }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <p>**All fields are required.</p>
    <div class="form-box">
      <label for="name">Name</label>
      <input
        type="text"
        formControlName="name"
        id="name"
        class="form-control"
      />
      <span *ngIf="name?.invalid && name.touched" class="text-danger">
        Please enter a vehicle name.
      </span>
    </div>
    <div class="form-box">
      <label for="make">Make</label>
      <input
        type="text"
        formControlName="make"
        id="make"
        class="form-control"
      />
      <span *ngIf="make?.invalid && make.touched" class="text-danger">
        Please enter the make of vehicle.
      </span>
    </div>
    <div class="form-box">
      <label for="model">Model</label>
      <input
        type="text"
        formControlName="model"
        id="model"
        class="form-control"
      />
      <span *ngIf="model.invalid && model.touched" class="text-danger">
        Please enter vehicle model.
      </span>
    </div>
    <div class="form-box">
      <label for="year">Year</label>
      <input
        type="number"
        formControlName="year"
        id="year"
        class="form-control"
      />
      <span *ngIf="year?.invalid && year.touched" class="text-danger">
        Please enter the year vehicle was made.
      </span>
    </div>
    <div class="form-box">
      <label for="color">Color </label>
      <input
        type="text"
        formControlName="color"
        id="color"
        class="form-control"
      />
      <span *ngIf="color?.invalid && color.touched" class="text-danger">
        Please enter vehicle color.
      </span>
    </div>
    <div class="form-box">
      <label for="licensePlate">License Plate </label>
      <input
        type="text"
        formControlName="licensePlate"
        id="licensePlate"
        class="form-control"
      />
      <span
        *ngIf="licensePlate?.invalid && licensePlate.touched"
        class="text-danger"
      >
        Please enter a valid license plate.
      </span>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions class="gap-1" style="padding: 24px; padding-top: 6px">
  <button
    class="btn btn-primary"
    type="submit"
    (click)="onSave()"
    [disabled]="form.status === 'INVALID'"
  >
    Save
  </button>
  <button class="btn btn-secondary" type="button" (click)="onClose()">
    Close
  </button>
</mat-dialog-actions>
