<app-loading-overlay [isLoading]="isLoading"></app-loading-overlay>
<div class="alert alert-fixed {{ alertClass }}" role="alert" *ngIf="showAlert">
  {{ alertMessage }}
</div>

<div
  class="content d-flex justify-content-center align-items-center flex-column"
  style="height: 65vh"
  *ngIf="token !== ''"
>
  <div
    class="d-flex bg-white p-4 m-2 rounded-3 shadow flex-column justify-content-center gap-2 custom-max-width-vw"
    [ngClass]="!isMobile ? 'desktop-custom-width' : 'custom-max-width-vw'"
  >
    <div class="d-flex flex-column justify-content-center align-items-center">
      <h2 class="m-2">Reset Password</h2>
    </div>

    <form
      action="submit"
      [formGroup]="formGroup"
      class="d-flex flex-column gap-2"
    >
      <div class="form-box">
        <input
          class="form-control"
          type="text"
          placeholder="New password"
          formControlName="password"
        />
        <span
          *ngIf="
            formGroup.get('password')?.invalid &&
            formGroup.get('password')?.touched &&
            !formGroup.get('password')?.errors?.['invalidPassword']
          "
          class="text-danger"
        >
          Password is required.
        </span>
        <span
          *ngIf="
            formGroup.get('password')?.errors?.['invalidPassword'] &&
            formGroup.get('password')?.invalid &&
            formGroup.get('password')?.touched
          "
          class="text-danger"
        >
          Invalid password.
        </span>
        <ul class="list-unstyled" *ngIf="formGroup.get('password')?.dirty">
          <li
            [ngClass]="{
              'text-success':
                !formGroup.get('password')?.errors?.['minLengthError'],
              'text-danger':
                formGroup.get('password')?.errors?.['minLengthError']
            }"
          >
            Minimum 8 characters
          </li>
          <li
            [ngClass]="{
              'text-success':
                !formGroup.get('password')?.errors?.['uppercaseError'],
              'text-danger':
                formGroup.get('password')?.errors?.['uppercaseError']
            }"
          >
            At least one uppercase letter
          </li>
          <li
            [ngClass]="{
              'text-success':
                !formGroup.get('password')?.errors?.['specialCharError'],
              'text-danger':
                formGroup.get('password')?.errors?.['specialCharError']
            }"
          >
            At least one special character (e.g., !#$%^&amp;*)
          </li>
          <li
            class="text-danger"
            *ngIf="formGroup.get('password')?.errors?.['invalidCharError']"
          >
            Invalid character
          </li>
        </ul>
      </div>

      <div class="form-box">
        <input
          type="text"
          class="form-control"
          placeholder="Confirm password"
          formControlName="confirmPassword"
        />
      </div>

      <span
        *ngIf="
          formGroup.errors?.['passwordMatchError'] &&
          formGroup.get('password')?.valid &&
          formGroup.get('confirmPassword')?.touched
        "
        class="text-danger"
        >Password do not match. Please try again</span
      >
    </form>

    <button
      type="submit"
      class="btn btn-primary btn-main-aqua"
      [disabled]="!formGroup.valid"
      (click)="resetPassword()"
    >
      Change password
    </button>
    <ng-template #loadingTemplate>
      <button type="button" class="btn btn-primary btn-main-aqua" disabled>
        <span
          class="spinner-border spinner-border-sm"
          role="status"
          aria-hidden="true"
        ></span>
        Loading...
      </button>
    </ng-template>
  </div>
</div>

<app-display-token-error
  *ngIf="token === ''"
  [alertMessage]="tokenAlertMessage"
  [errorAction]="'resetting password'"
  [routeTo]="'generate-reset-password'"
  [buttonLabel]="'Resend reset password email'"
></app-display-token-error>
