<div
  class="content d-flex justify-content-center align-items-center flex-column"
  style="height: 65vh"
  *ngIf="token !== ''"
>
  <div
    class="d-flex bg-white p-4 m-2 rounded-3 shadow flex-column justify-content-center gap-2 custom-max-width-vw"
    [ngClass]="!isMobile ? 'desktop-custom-width' : 'custom-max-width-vw'"
  >
    <div class="d-flex flex-column justify-content-center align-items-center">
      <h2 class="m-2">Reset Password</h2>
    </div>

    <input
      class="form-control"
      type="text"
      placeholder="New password"
      formControlName="email"
    />
    <input
      type="text"
      class="form-control"
      placeholder="Confirm password"
      formControlName="password"
    />
    <button type="submit" class="btn btn-primary btn-main-aqua">
      Change password
    </button>
    <ng-template #loadingTemplate>
      <button type="button" class="btn btn-primary btn-main-aqua" disabled>
        <span
          class="spinner-border spinner-border-sm"
          role="status"
          aria-hidden="true"
        ></span>
        Loading...
      </button>
    </ng-template>
  </div>
</div>

<app-display-token-error
  *ngIf="token === ''"
  [alertMessage]="alertMessage"
  [errorAction]="'resetting password'"
  [routeTo]="'generate-reset-password'"
  [buttonLabel]="'Resend reset password email'"
></app-display-token-error>
