<div class="alert alert-fixed alert-success" role="alert" *ngIf="emailSent">
  Email sent. Please check your email.
</div>

<div
  class="content d-flex justify-content-center align-items-center flex-column"
>
  <div
    class="d-flex bg-white p-4 m-3 rounded-3 shadow flex-column justify-content-center gap-2 custom-max-width-vw"
    [ngClass]="!isMobile ? 'desktop-custom-width' : ''"
  >
    <div
      class="d-flex flex-column justify-content-center align-items-center p-1"
    >
      <h2 class="">Send Reset Password Email</h2>
      <p>
        If you have an account with us, we will send you an email with
        instructions on how to reset your password.
      </p>
    </div>
    <input
      type="email"
      class="form-control"
      placeholder="Email"
      [formControl]="email"
    />
    <button
      *ngIf="!emailSending; else loadingTemplate"
      type="submit"
      class="btn btn-primary btn-main-aqua"
      (click)="sendEmail()"
      [disabled]="email.status === 'INVALID'"
    >
      Send
    </button>
    <ng-template #loadingTemplate>
      <button type="button" class="btn btn-primary btn-main-aqua" disabled>
        <span
          class="spinner-border spinner-border-sm"
          role="status"
          aria-hidden="true"
        ></span>
        Loading...
      </button>
    </ng-template>
  </div>
</div>
