<p>
  Add any vehicles that your Saf-T Child device may be used in. Vehicles can be
  added, changed, or removed at any time.
</p>

<button matTooltip="Add Item" class="btn">
  <span class="material-icons" (click)="openDialog()">add</span>
</button>

<div class="list-group gap-3">
  <div class="card vehicle-pill" *ngFor="let vehicle of vehicles">
    <div class="card-body">
      <div class="d-flex w-100 justify-content-between align-items-center">
        <h2 class="mb-1">{{ vehicle.name }}</h2>
        <div class="d-flex align-items-center gap-3">
          <div class="dropdown">
            <button
              class="btn d-flex align-items-center justify-content-center"
              type="button"
              id="dropdownMenuButton"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <span class="material-icons">more_vert</span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <li>
                <button
                  class="btn dropdown-item d-flex align-items-center"
                  (click)="deleteVehicle(vehicle)"
                >
                  <span class="material-icons me-2">delete</span>Delete
                </button>
              </li>
              <li>
                <button class="btn dropdown-item d-flex align-items-center">
                  <span class="material-icons me-2" (click)="openDialog()"
                    >edit</span
                  >Edit
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
