<div
  class="content d-flex justify-content-center align-items-center p-5"
  [class.active]="contentActive"
>
  <div
    class="d-flex bg-white p-4 m-2 rounded-3 shadow flex-column justify-content-center gap-3"
    [ngClass]="!isMobile ? 'desktop-custom-width' : 'custom-max-width-vw'"
  >
    <div
      class="d-flex flex-column justify-content-center gap-1 align-items-center"
    >
      <h2>Create New Account</h2>
      <div class="d-inline">
        <p class="d-inline">Already have an account?</p>
        <a
          href="/login"
          class="login-link d-inline"
          style="text-decoration: underline"
          >Login</a
        >
      </div>
    </div>

    <form [formGroup]="formGroup" class="d-flex flex-column gap-3">
      <p class="m-0">**All fields are required.</p>
      <div class="form-box">
        <label for="firstName" class="form-label">First Name</label>
        <input
          type="text"
          class="form-control"
          id="firstName"
          placeholder="John"
          formControlName="firstName"
        />
        <span
          *ngIf="firstName?.invalid && firstName.touched"
          class="text-danger"
        >
          Please enter a valid first name.
        </span>
      </div>

      <div class="form-box">
        <label for="lastName" class="form-label">Last Name</label>
        <input
          type="text"
          class="form-control"
          id="lastName"
          placeholder="Doe"
          formControlName="lastName"
        />
        <span *ngIf="lastName?.invalid && lastName.touched" class="text-danger">
          Please enter a valid last name.
        </span>
      </div>

      <div class="form-box">
        <label for="email" class="form-label">Email</label>

        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="john@gmail.com"
          formControlName="email"
        />
        <span
          *ngIf="email.errors?.['email'] && email.touched"
          class="text-danger"
        >
          Please enter a valid email address.
        </span>
        <span
          *ngIf="
            !email.errors?.['email'] &&
            email.errors?.['emailTaken'] &&
            email.touched
          "
          class="text-danger"
        >
          Email address associated to existing account.
        </span>
      </div>
      <!-- TODO: only allow numbers to be inputed -->
      <div class="form-box">
        <label
          for="phoneNumber"
          class="form-label"
          matTooltip="Only digits, no - or () or spaces. Ex: 5029998888"
          matTooltipPosition="right"
          matTooltipTouchGestures="on"
          >Phone Number</label
        >
        <input
          type="text"
          class="form-control"
          id="phoneNumber"
          placeholder="5029998888"
          formControlName="phoneNumber"
        />
        <span
          *ngIf="
            phoneNumber.errors?.['invalidPhoneNumber'] && phoneNumber.touched
          "
          class="text-danger"
        >
          Please enter a valid phone number.
        </span>
        <span
          *ngIf="
            !phoneNumber.errors?.['invalidPhoneNumber'] &&
            phoneNumber.touched &&
            phoneNumber.errors?.['phoneNumberTaken']
          "
          class="text-danger"
        >
          Phone number associated to existing account.
        </span>
      </div>

      <div class="form-box">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          placeholder="Password"
          formControlName="password"
        />
        <span
          *ngIf="
            formGroup.get('password')?.invalid &&
            formGroup.get('password')?.touched &&
            !formGroup.get('password')?.errors?.['invalidPassword']
          "
          class="text-danger"
        >
          Password is required.
        </span>
        <span
          *ngIf="
            formGroup.get('password')?.errors?.['invalidPassword'] &&
            formGroup.get('password')?.invalid &&
            formGroup.get('password')?.touched
          "
          class="text-danger"
        >
          Invalid password.
        </span>
      </div>
      <button
        type="button"
        class="btn btn-primary btn-main-aqua"
        (click)="createAccount()"
        [disabled]="formGroup.status === 'INVALID'"
        *ngIf="!isLoading; else loadingTemplate"
      >
        Create Account
      </button>
      <ng-template #loadingTemplate>
        <button type="button" class="btn btn-primary btn-main-aqua" disabled>
          <span
            class="spinner-border spinner-border-sm"
            role="status"
            aria-hidden="true"
          ></span>
          Loading...
        </button>
      </ng-template>
    </form>
  </div>
</div>
