<app-loading-overlay *ngIf="isLoading"></app-loading-overlay>

<div
  class="alert alert-success alert-fixed"
  role="alert"
  *ngIf="showSuccessMessage"
>
  {{ successMessage }}
</div>

<h2 mat-dialog-title>{{ data.title }} Family Member</h2>
<mat-dialog-content>
  <form [formGroup]="form">
    <div class="form-box" *ngIf="!editing">
      <label for="firstName">First Name</label>
      <input
        type="text"
        id="firstName"
        formControlName="firstName"
        class="form-control"
      />
      <span *ngIf="firstName?.invalid && firstName.touched" class="text-danger">
        Please enter a valid first name.
      </span>
    </div>
    <div class="form-box" *ngIf="!editing">
      <label for="lastName">Last Name</label>
      <input
        type="text"
        id="lastName"
        formControlName="lastName"
        class="form-control"
      />
      <span *ngIf="lastName?.invalid && lastName.touched" class="text-danger">
        Please enter a valid last name.
      </span>
    </div>
    <div class="form-box" *ngIf="!editing">
      <label for="email">Email</label>
      <input
        type="text"
        id="email"
        formControlName="email"
        class="form-control"
      />
      <span
        *ngIf="email.errors?.['email'] && email.touched"
        class="text-danger"
      >
        Please enter a valid email address.
      </span>
      <span
        *ngIf="
          !email.errors?.['email'] &&
          email.errors?.['emailTaken'] &&
          email.touched
        "
        class="text-danger"
      >
        Email address associated to existing account.
        <a
          class="btn btn-primary btn-main-aqua"
          type="button"
          (click)="sendInvite(true)"
          >Invite User</a
        >
      </span>
    </div>
    <div class="form-box" *ngIf="!editing">
      <label for="phoneNumber">Phone Number</label>
      <input
        type="number"
        id="phoneNumber"
        formControlName="phoneNumber"
        class="form-control"
      />
      <span
        *ngIf="
          phoneNumber.errors?.['invalidPhoneNumber'] && phoneNumber.touched
        "
        class="text-danger"
      >
        Please enter a valid phone number.
      </span>
      <span
        *ngIf="
          !phoneNumber.errors?.['invalidPhoneNumber'] &&
          phoneNumber.touched &&
          phoneNumber.errors?.['phoneNumberTaken']
        "
        class="text-danger"
      >
        Phone number associated to existing account.
        <a
          class="btn btn-primary btn-main-aqua"
          type="button"
          (click)="sendInvite(false)"
          >Invite User</a
        >
      </span>
    </div>
    <div class="form-box">
      <label for="role">Role</label>
      <select id="role" formControlName="role" class="form-select">
        <option *ngFor="let role of roles" [ngValue]="role">
          {{ role.name }}
        </option>
      </select>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions id="buttons-footer" class="gap-1">
  <button
    class="btn btn-primary"
    type="submit"
    (click)="onSave()"
    [disabled]="!canSave"
  >
    Save
  </button>
  <button class="btn btn-secondary" type="button" (click)="onClose()">
    Close
  </button>
</mat-dialog-actions>
