<section class="about-page">
  <div class="overlay" @fadeIn></div>
  <div class="hero-content">
    <mat-icon class="safety-icon">child_care</mat-icon>
    <h1>
      Welcome to
      <img src="/assets/NewFullLogo.png" style="width: 135px; height: 35px" />
    </h1>
    <p>Protecting the most vulnerable with innovative technology.</p>
  </div>
  <img
    src="/assets/baby_background.png"
    alt="Inspiring Story"
    class="inspiring-image"
  />

  <div class="detailed-content">
    <div class="section">
      <mat-icon class="icon">history_edu</mat-icon>
      <h2>Our Story</h2>
      <p>
        Founded by Lorraine Forest after learning of a heart-breaking accident,
        Saf-T Child is committed to ensuring that no child is ever left behind
        in a car unattended again.
      </p>
    </div>
    <div class="section">
      <mat-icon class="icon">settings</mat-icon>
      <h2>How It Works</h2>
      <p>
        The device sits discreetly underneath any car seat, detecting the
        presence of a child and the vehicle’s status. Alerts are sent out to
        primary and secondary contacts, escalating to emergency services if
        needed.
      </p>
    </div>
    <div class="section">
      <mat-icon class="icon">support_agent</mat-icon>
      <h2>Community Support</h2>
      <p>
        Join a growing community of parents and guardians using Saf-T Child to
        enhance child safety. Share stories, tips, and get support from a
        network committed to safety.
      </p>
    </div>
  </div>
</section>
